@import 'Variables';

.Flags--Site--Container{
    box-sizing: border-box;
    margin: auto !important;
    width: 1050px;
    .back-button{
        width: 136px;
        height: 40px;
        background-color: #2B3844;
        border-radius: 6px;
        margin-top: 80px;
        margin-left: 0px;
        text-decoration: none;
        color: white;
        @include h4style300;
        font-size: 16px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            margin-left: 10px;
        }
    }
    .border--Bar{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-content: center;
        @include h5style;
        font-size: 16px !important;
        margin-top: 70px;

        .border-item{
            @include h4style300;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center !important;
            
            background-color: #2B3844;
            width: 100px !important;
            margin-right: 0px;
            margin-top: 5px;
            height: 50px;
            
            font-size: 14px !important;
        }
    }
    .flags--Site{
        margin-top: 80px;
        display: flex;
        color: #FFFFFF;
        img{
            width: 560px;
            height: 401px;
            object-fit:inherit;
            margin-left: 0px;
            border-radius: 10px;
        }
        .body--flags--Site{
            margin-left: 30px;
            h2{
                @include h4style800;
                font-size: 32px !important;
                line-height: 44px !important;
            }
            div{
                display: flex;
                width: 574px;
                section{
                    
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        height: 50px;
                        h5{
                            @include h5style;
                            font-family: Nunito Sans;
                            font-size: 16px !important;
                            line-height: 32px !important;
                        }
                        h6{
                            @include h4style300;
                            line-height: 16px !important;
                            margin-left: 6px;
                        }
                    }
                }

            }

        }
    }
}
@media screen and (max-width: 1250px) {
    .Flags--Site--Container{
        box-sizing: border-box;
        margin: auto !important;
        width: 340px;
        .back-button{
            width: 104px;
            height: 32px;
            background-color: #2B3844;
            border-radius: 6px;
            margin-top: 80px;
            margin-left: 0px;
            text-decoration: none;
            color: white;
            @include h4style300;
            font-size: 16px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                margin-left: 10px;
            }
        }
        .border--Bar{
            grid-template-columns: repeat(3, 1fr);

            text-align: center;
            @include h5style;
            font-size: 16px !important;
            margin-top: 30px;
            
            .border-item{
                display: flex!important;;
                align-items: center !important;
                justify-content: center !important;
                text-align: center !important;
                
                margin: 0;
                background-color: #2B3844;
                width: 110px !important;
                margin-right: 0px;
                margin-top: 5px;
                margin-bottom: 10px;
                height: 50px;
                @include h4style300;
                font-size: 14px !important;
            }
        }
        .flags--Site{
            margin-top: 80px;
            display: block;
            color: #FFFFFF;
            img{
                width: 330px;
                height: 229px;
                object-fit:inherit;
                margin-left: 0px;
                border-radius: 10px;
            }
            .body--flags--Site{
                margin-left: 0px;
                h2{
                    @include h4style800;
                    font-size: 32px !important;
                    line-height: 44px !important;
                }
                div{
                    display: block;
                    width: 200px;
                    section{
                        
                        span{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            height: 50px;
                            h5{
                                @include h5style;
                                font-family: Nunito Sans;
                                font-size: 16px !important;
                                line-height: 32px !important;
                            }
                            h6{
                                @include h4style300;
                                line-height: 16px !important;
                                margin-left: 6px;
                            }
                        }
                    }
    
                }
    
            }
        }
    }
}   