.Home--Container .tool--Search {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.Home--Container .tool--Search .search--Input {
  display: flex;
}
.Home--Container .tool--Search .search--Input svg {
  width: 20px;
  position: absolute;
  margin-left: 360px;
  margin-top: 18px;
  cursor: pointer;
}
.Home--Container .tool--Search .search--Input input {
  border-radius: 5px;
  margin-left: 340px;
  width: 480px;
  height: 56px;
  background-color: #2B3844;
  border: none;
  padding-left: 74px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}
.Home--Container .tool--Search .filter--Btn .menu-btn {
  border-radius: 5px;
  margin-right: 367px;
  max-width: 200px;
  height: 56px;
  background-color: #2B3844;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Home--Container .tool--Search .filter--Btn .menu-btn h4 {
  margin-left: 24px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  margin-right: 30px;
}
.Home--Container .tool--Search .filter--Btn .menu-btn svg {
  width: 22px;
  fill: white;
  cursor: pointer;
}
.Home--Container .tool--Search .filter--Btn .menu-bar {
  width: 200px;
  height: 205px;
  margin-top: 5px;
  background-color: #2B3844;
  position: absolute;
  border-radius: 5px;
  padding-top: 8px;
}
.Home--Container .tool--Search .filter--Btn .menu-bar button {
  display: block !important;
  border: none;
  background-color: inherit;
  color: white;
  margin-top: 8px;
  margin-left: 24px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  cursor: pointer;
}
.Home--Container .flags--Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1280px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .Home--Container .tool--Search {
    margin-top: 24px;
    display: block;
    justify-content: flex-start;
  }
  .Home--Container .tool--Search .search--Input {
    display: block;
  }
  .Home--Container .tool--Search .search--Input svg {
    width: 20px;
    margin-left: 50px;
    margin-top: 18px;
  }
  .Home--Container .tool--Search .search--Input input {
    margin-left: 16px;
    width: 240px;
    height: 56px;
    padding-left: 70px;
    font-size: 12px;
    line-height: 20px;
  }
  .Home--Container .tool--Search .filter--Btn .menu-btn {
    border-radius: 5px;
    margin-right: 0px;
    margin-top: 40px;
    margin-left: 16px;
    width: 200px;
    height: 48px;
  }
  .Home--Container .tool--Search .filter--Btn .menu-btn h4 {
    margin-left: 24px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    margin-right: 30px;
    font-size: 12px;
    line-height: 20px;
  }
  .Home--Container .tool--Search .filter--Btn .menu-btn svg {
    width: 22px;
    fill: white;
    cursor: pointer;
  }
  .Home--Container .tool--Search .filter--Btn .menu-bar {
    margin-left: 16px;
    width: 200px;
    height: 205px;
  }
  .Home--Container .tool--Search .filter--Btn .menu-bar button {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    font-size: 12px;
    line-height: 20px;
  }
  .Home--Container .flags--Container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    align-items: center !important;
    justify-content: center !important;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .tool--Search {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
  }
  .tool--Search .search--Input {
    display: flex;
  }
  .tool--Search .search--Input svg {
    width: 20px;
    position: absolute;
    margin-left: 0px !important;
    margin-top: 18px;
    cursor: pointer;
  }
  .tool--Search .search--Input input {
    border-radius: 5px;
    margin-left: 0px !important;
    width: 480px;
    height: 56px;
    background-color: #2B3844;
    border: none;
    padding-left: 74px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
  }
  .tool--Search .filter--Btn .menu-btn {
    border-radius: 5px;
    margin-right: 0px;
    width: 200px;
    height: 56px;
    margin-left: 200px;
    background-color: #2B3844;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .tool--Search .filter--Btn .menu-btn h4 {
    margin-left: 24px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    margin-right: 30px;
  }
  .tool--Search .filter--Btn .menu-btn svg {
    width: 22px;
    fill: white;
    cursor: pointer;
  }
  .tool--Search .filter--Btn .menu-bar {
    margin-left: 200px;
    width: 200px;
    height: 205px;
    margin-top: 5px;
    background-color: #2B3844;
    position: absolute;
    border-radius: 5px;
    padding-top: 8px;
  }
  .tool--Search .filter--Btn .menu-bar button {
    display: block !important;
    border: none;
    background-color: inherit;
    color: white;
    margin-top: 8px;
    margin-left: 24px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    cursor: pointer;
  }
  .flags--Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
  }
}/*# sourceMappingURL=Home.css.map */