.Home--Container .tool--Search {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.Home--Container .tool--Search .search--Input {
  display: flex;
}
.Home--Container .tool--Search .search--Input svg {
  width: 20px;
  position: absolute;
  margin-left: 340px;
  margin-top: 18px;
  cursor: pointer;
}
.Home--Container .tool--Search .search--Input input {
  border-radius: 5px;
  margin-left: 310px;
  width: 480px;
  height: 56px;
  background-color: #2B3844;
  border: none;
  padding-left: 74px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}
.Home--Container .tool--Search .filter--Btn .menu-btn {
  border-radius: 5px;
  margin-right: 367px;
  width: 200px;
  height: 56px;
  background-color: #2B3844;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Home--Container .tool--Search .filter--Btn .menu-btn h4 {
  margin-left: 24px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  margin-right: 30px;
}
.Home--Container .tool--Search .filter--Btn .menu-btn svg {
  width: 22px;
  fill: white;
  cursor: pointer;
}
.Home--Container .tool--Search .filter--Btn .menu-bar {
  width: 200px;
  height: 205px;
  margin-top: 5px;
  background-color: #2B3844;
  position: absolute;
  border-radius: 5px;
  padding-top: 8px;
}
.Home--Container .tool--Search .filter--Btn .menu-bar button {
  display: block !important;
  border: none;
  background-color: inherit;
  color: white;
  margin-top: 8px;
  margin-left: 24px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  cursor: pointer;
}
.Home--Container .flags--Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1280px;
  margin: auto;
}

.Flags--Site--Container {
  box-sizing: border-box;
  margin-left: 300px;
}
.Flags--Site--Container .back-button {
  width: 136px;
  height: 40px;
  background-color: #2B3844;
  border-radius: 6px;
  margin-top: 80px;
  margin-left: 80px;
  text-decoration: none;
  color: white;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  font-size: 16px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Flags--Site--Container .back-button span {
  margin-left: 10px;
}
.Flags--Site--Container .border--Bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: flex-start;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  font-size: 16px !important;
  margin-top: 70px;
}
.Flags--Site--Container .border--Bar .border-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #2B3844;
  width: 120px !important;
  margin-right: 5px;
  margin-top: 5px;
  height: 50px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  font-size: 14px !important;
}
.Flags--Site--Container .flags--Site {
  margin-top: 80px;
  display: flex;
  color: #FFFFFF;
}
.Flags--Site--Container .flags--Site img {
  width: 560px;
  height: 401px;
  -o-object-fit: inherit;
     object-fit: inherit;
  margin-left: 80px;
  border-radius: 10px;
}
.Flags--Site--Container .flags--Site .body--flags--Site {
  margin-left: 120px;
}
.Flags--Site--Container .flags--Site .body--flags--Site h2 {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: white;
  font-size: 32px !important;
  line-height: 44px !important;
}
.Flags--Site--Container .flags--Site .body--flags--Site div {
  display: flex;
  width: 574px;
}
.Flags--Site--Container .flags--Site .body--flags--Site div section span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}
.Flags--Site--Container .flags--Site .body--flags--Site div section span h5 {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  font-family: Nunito Sans;
  font-size: 16px !important;
  line-height: 32px !important;
}
.Flags--Site--Container .flags--Site .body--flags--Site div section span h6 {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  line-height: 16px !important;
  margin-left: 6px;
}

.flag--Cart {
  margin-top: 75px;
  width: 264px;
  background-color: #2B3844;
  color: white;
}
.flag--Cart a {
  text-decoration: none;
  color: inherit;
}
.flag--Cart img {
  width: 264px;
  height: 160px;
  -o-object-fit: inherit;
     object-fit: inherit;
}
.flag--Cart p {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: white;
  padding-left: 24px;
}
.flag--Cart section {
  padding-bottom: 38px;
}
.flag--Cart span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 16px;
  padding-left: 24px;
  margin-bottom: 8px;
}
.flag--Cart span h6 {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  margin-left: 4px;
}
.flag--Cart span h5 {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: #2B3844;
  height: 80px;
}
header a {
  text-decoration: none;
  justify-content: flex-start;
  margin-left: 300px;
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}
header span {
  display: flex;
  align-items: center;
}
header span h4 {
  justify-content: flex-end;
  margin-right: 300px;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}
header span svg {
  margin-right: 10px;
  width: 20px;
  fill: white;
}

body {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */